<nav class="navbar navbar-expand-lg" style="background-color: lightpink;">
    <h1>Heroku App</h1>
    <a class="navbar-brand" href="#"><img src="./assets/palLogo.png" width="200px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="nav-container">
        <ul id="navmenu-list">
            <li>
                <a href="#">Recipes</a>
            </li>

            <li>
                <a href="#">About</a>
            </li>

            <li>
                <a href="#">Recipes</a>
            </li>

            <li>
                <a href="#">Recipes</a>
            </li>
        </ul>
    </div>

    <div id="search-container">
        <ul id="search-list">
            <li>
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </li>
            <li>
                <button class="btn my-2 my-sm-0" type="submit">Search</button>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
<div class="row">
    <div class="col-md-12">                       
        <div class="item active">
            <div class="row" id="images">
                <div class="col-md-3"><a href="#" class="thumbnail"><img src="assets/images/gyudon.jpg" alt="Image" style="max-width:100%;"></a></div>
                <div class="col-md-3"><a href="#" class="thumbnail"><img src="assets/images/gyudon.jpg" alt="Image" style="max-width:100%;"></a></div>
                <div class="col-md-3"><a href="#" class="thumbnail"><img src="assets/images/gyudon.jpg" alt="Image" style="max-width:100%;"></a></div>
                <div class="col-md-3"><a href="#" class="thumbnail"><img src="assets/images/gyudon.jpg" alt="Image" style="max-width:100%;"></a></div>
            </div>
        </div>
                
            <!-- <div class="item">
                <div class="row">
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                    <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                </div>
            </div> -->         
    </div>
</div>
</div>




