.navbar-nav{
    margin: 0 auto;
}

ul.navbar-nav{
    min-width: 696px;
	list-style: none;
	padding-top: auto;
}
li.nav-item{
    display: inline;
    
}

#search-container{
    margin-left: auto; 
    margin-right: 0;
}

ul#search-list{
    margin-top:20px;
    display: flex;    
}

ul#search-list li{
    list-style: none;
    padding-right: 5px;
}

#nav-container{
    margin-left: auto;
    margin-right: auto
}

ul#navmenu-list a:hover{
    color: #c69f73;
}

ul#navmenu-list a{
    color: black;
}

ul#navmenu-list{  
    margin: 0;
    padding: 0;
    text-align: center;
}

ul#navmenu-list li{
    display: inline-block;
    margin: 0 5em;
}

.btn{
    border-color: white;
    background-color: rgb(199, 156, 40);
}

#images{
    margin-top: 50px;
}

